@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
::before,
::after{
    box-sizing: border-box;
}
img
{
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('./assets/background.png'); 
    background-color:black;
    background-repeat: repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.pseudo_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container
{
    background-image: url('./assets/background.png');
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-left: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 2.85rem;
    position: fixed;
    z-index: 99;
}
.image
{   
    display: flex;
    align-self: center;
    padding: 12px 12px;
    border-bottom: 2px solid white;
}
.redirect_sections
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6875rem;
    padding: 0.7rem 0rem;
    border-bottom: 2px solid white;
}
.resume, .p_gallery, .contact, .publi
{
    display: flex;
    padding: .75rem 0;
    transform: rotate(-90deg);
    /* transition: all 0.2s ease; */
    font-size: .6875rem;
    text-align: center;
    letter-spacing: 0.12em;
    margin: 14px 0px;
    cursor: pointer;
}
.resume:hover
{
    transition: all 0.2s ease;
    color: red;
}
.p_gallery:hover
{
    transition: all 0.2s ease;
    color: rgb(255, 255, 0);
} 
.contact:hover
{
    transition: all 0.2s ease;
    color:rgb(255, 0, 255);
}
.publi:hover
{
    transition: all 0.2s ease;
    color:rgb(0, 255, 21);
}
.star
{
    margin: 0.8rem 0px;
}
.pseudo-margin
{
    padding: 2rem 0rem;
}
.social_logos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6875rem;
    padding: 0.85rem 0;
}
.linkedin, .github, .leetcode, .youtube
{
    display: block;
    padding: .75rem 0;
    transition: all 0.3s ease;
    font-size: .6875rem;
    text-align: center;
    letter-spacing: 0.12em;
    margin: 14px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.3rem;
    cursor: pointer;
}
.linkedin:hover, .github:hover, .leetcode:hover, .youtube:hover
{
    transform: scale(1.6);
}
.linkedin
{
    background-image: url('./assets/linkedin.png');
}
.github
{
    background-image: url('./assets/github.png');
    
}
.leetcode
{
    background-image: url('./assets/leetcode.png');
}
.youtube
{
    background-image: url('./assets/youtube.png');
}
.header_banner
{
    display: flex;
    justify-content:center;
    align-self: flex-start;
    min-width: 100vw;
    position: fixed;
    z-index: 0;
}
header
{
    position: sticky;
    top: 4%;
}
.division
{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);    
    min-width: 20vw;
    z-index: 0;
}
.about
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90rem;
}
.about_text
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    order: 0;
    width: 31.5rem;
}
.name
{
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 0.75rem;
}
.job-title
{
    font: 100;
    font-size: 1.5em;
    margin-bottom: 0.75rem;
}
.profile
{
    align-items: center;
    align-self: flex-start;
    background-repeat: no-repeat;
    height: 27rem;
    width: 15rem;
}

