@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
::before,
::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
    /* zoom: 99%; */
}
img
{
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    overflow-x: scroll;
    overflow-y: hidden;    
    background-image: url('./assets/imagez/background.png'); 
    background-color:black;
    background-repeat: repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* .scroll_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    z-index: 0;
} */
/* .pseudo_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */
.container
{
    background-image: url('./assets/imagez/background.png');
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-left: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 2.85rem;
    position: fixed;
    z-index: 99;
}
.image
{   
    display: flex;
    align-self: center;
    padding: 12px 12px;
    border-bottom: 2px solid white;
}
.redirect_sections
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6875rem;
    padding: 0.7rem 0rem;
    border-bottom: 2px solid white;
}
.resume, .p_gallery, .contact, .publi
{
    display: flex;
    padding: .75rem 0;
    transform: rotate(-90deg);
    /* transition: all 0.2s ease; */
    font-size: .6875rem;
    text-align: center;
    letter-spacing: 0.12em;
    margin: 14px 0px;
    cursor: pointer;
}
.resume:hover
{
    transition: all 0.2s ease;
    color: red;
}
.p_gallery:hover
{
    transition: all 0.2s ease;
    color: rgb(255, 255, 0);
} 
.contact:hover
{
    transition: all 0.2s ease;
    color:rgb(255, 0, 255);
}
.publi:hover
{
    transition: all 0.2s ease;
    color:rgb(0, 255, 21);
}
.star
{
    margin: 0.8rem 0px;
}
.pseudo-margin
{
    padding: 2rem 0rem;
}
.social_logos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6875rem;
    padding: 0.85rem 0;
}
.linkedin, .github, .leetcode, .youtube
{
    display: block;
    padding: .75rem 0;
    transition: all 0.3s ease;
    font-size: .6875rem;
    text-align: center;
    letter-spacing: 0.12em;
    margin: 14px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.3rem;
    cursor: pointer;
}
.linkedin:hover, .github:hover, .leetcode:hover, .youtube:hover
{
    transform: scale(1.6);
}
.linkedin
{
    background-image: url('./assets/imagez/linkedin.png');
}
.github
{
    background-image: url('./assets/imagez/github.png');
    
}
.leetcode
{
    background-image: url('./assets/imagez/leetcode.png');
}
.youtube
{
    background-image: url('./assets/imagez/youtube.png');
}
.header_banner
{
    display: flex;
    justify-content:center;
    align-self: flex-start;
    min-width: 100vw;
    position: fixed;
    z-index: 0;
}
header
{
    position: sticky;
    top: 4%;
}
.division
{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);    
    min-height: 86vh;
    max-height: 86vh;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 1;
    order: 1;
    border: 2px solid greenyellow;
}
.about
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 100vw;
    max-width: 100vw;
}
.about_text
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    order: 0;
    width: 31.5rem;
}
.name
{
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 0.75rem;
}
.job-title
{
    font: 100;
    font-size: 1.5em;
    margin-bottom: 0.75rem;
}
.profile
{
    align-items: center;
    align-self: flex-start;
    background-repeat: no-repeat;
    height: 27rem;
    width: 15rem;
}
.projects-gallery
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    top: 12%;
    left: 150%;
    transform: translateX(-50%);
    min-height: 86vh;
    max-height: 86vh;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 1;
    border: 2px solid purple;
    padding: 2rem 0rem;
}
.project_title 
{
    margin: 1.5rem 0rem 0rem 0rem;
    font-weight: 400;
    font-size: 2.7em;
}
.flex_container {
    display: flex;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    height: 49vh;
    min-width: 95vw;
    max-width: 95vw;
    border: 2px solid red;
}
.carousel
{
    perspective: 500px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.project_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 26rem;
    border-radius: 0.25em;
    opacity: 1 !important;

}
.project_name
{
    font-weight: 800;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    margin: 2rem 0rem 0rem 0rem;
}
.link_arrow_height
{
    height: 0.75rem;
    margin-left: 0.2rem;
}
/* .calculator:hover
{
    transition: all 0.2s ease;
    color: rgb(255, 196, 0);
    cursor: default;
} */
/* .calculator-card
{
    visibility: visible;
    transform: translateX(394px) translateY(100px) translateX(0px) translateX(0px) translateZ(0px);
} */
.b
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
    font-size: .7rem;
    letter-spacing: 0.101em;
    border-radius: 0.25em;
    padding: 0.55rem;
    background: transparent;
    color: white;
    cursor: pointer;
}
.calculator_button
{
    border: 1px solid rgb(255, 196, 0);
}
.b:hover
{
    transition: all 0.3s ease;
    transform: scale(1.05);
}
/* .duckHunt-card
{
    transform: translateX(394px) translateY(100px) translateX(362px) translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
} */
.duckHunt_button
{
    border: 1px solid rgb(0, 174, 255);
}
/* .HypnoHour-card
{
    transform: translateX(394px) translateY(100px) translateX(824px) translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
} */
.hypnoHour, .znakeGame
{
    border: 1px solid rgb(192, 192, 192);
}
/* .znakeGame-card
{
    transform: translateX(394px) translateY(100px) translateX(-824px) translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
}
.frontend-card
{
    transform: translateX(394px) translateY(100px) translateX(-362px) translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
} */
.devsnest
{
    border: 1px solid rgb(157, 114, 214);
}